{
  "name": "parkour-x-game",
  "version": "1.0.0",
  "private": true,
  "description": "PARKOUR X - Professional 3D Parkour Game",
  "main": "dist/main.js",
  "scripts": {
    "dev": "vite",
    "build": "tsc && vite build",
    "preview": "vite preview"
  },
  "keywords": [
    "parkour",
    "game",
    "three.js",
    "typescript",
    "webgl",
    "3d"
  ],
  "author": "Muhammed Ali <muhammedali010201@gmail.com>",
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "https://github.com/muhammed010201/parkour-x.git"
  },
  "bugs": {
    "url": "https://github.com/muhammed010201/parkour-x/issues"
  },
  "homepage": "https://github.com/muhammed010201/parkour-x#readme"
}
